* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.meta-container {
  width: 100%;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

header {
  height: 80px;
  background-color: #000000;
}


.top-panel {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
}

.logo {
  float: left;
}

.logo-distinction {
  color: #3ADFB9;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

.top-menu {
  float: right;
  text-transform: uppercase;
}

.top-menu-element {
  display: inline-block;
}

main {
  height: 500px;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(189,187,189,1) 100%);
}

.arrow {
  font-size: 50px;
  color: #3ADFB9;
  padding-top: 300px;
  width: 100px;
}

.left-arrow {
  float: left;
}


.carousel-element {
  float: left;
  padding-top: 100px;
}

.main-description {
  width: 380px;
  text-align: center;
  display: inline-block;
}

.main-photo {
  width: 380px;
  display: inline-block;
}

h2 {
  text-transform: uppercase;
}

.right-arrow {
  float: right;
  text-align: right;
}

.products {
  height: 300px;
}

.pricelist {
  height: 800px;
  background-color: #EEEEEE;
}

.contact {
  height: 700px;
}

.footer {
  height: 80px;
}
